@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --lighting-color: #DFE9F4;
    --dark-color: #054C73;
    --darker-color: #333333;
    --secondary-color: #fff700;
    --home-bg-color: #0089b7;
    --text-white-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: end;
}

.logo {
    width: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    color: var(--dark-color);
}
#menu-icon{
    font-size: 35px;
    display: none;
    margin-right: 10px;
}
.nav-item-box {
    width: 70%;
    align-content: end;
}
ul li:hover {
    color: var(--dark-color);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--dark-color);
    transform: translateY(-5px);
}
header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #F2F5FF;
    /* backdrop-filter: blur(30px);*/
    border: 2px solid rgba(255,255,255,0.18);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37); 
}

ul li {
    color: var(--darker-color);
    font-size: 14px;
    font-weight: 600;
    transition: transform ease-in-out 0.4s;
}

.home {
    width: 100vw;
    height: 700px;
    background-image: url(images/home_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.home-inner-container {
    width: 643px;
    height: 443px;
    position: relative;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: var(--lighting-color);
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.home-inner-container2 {
    width: 90%;
    height: 90%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text1 {
    font-size: 16px;
    font-weight: 600;
    color: var(--darker-color);

}

.text2 {
    font-size: 52px;
    font-weight: bold;
    color: var(--dark-color);

    line-height: 65px;
}

.text3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--darker-color);
    line-height: 39px;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--dark-color);
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 229px;
    height: 70px;
}

.badge-container {
    width: 100vw;
    height: 150px;
    background-color: #F2F5FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.badge {
    width: 26%;
    height: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.badge-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--darker-color);
}

.badge-subtext {
    font-size: 16px;
    color: var(--darker-color);
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.collection-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--darker-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.collection-subtitle {
    text-align: center;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
}

.collect-gallery {
    width: 80%;
    height: 472px;
    display: flex;
    justify-content: space-between;
}

.collection-img1 {
    align-self: self-end;
    border-radius: 70px 0px 0px 0px;
}

.collection-img2 {
    align-self: flex-start;
}

.collection-img3 {
    align-self: self-end;
    border-radius: 0px 0px 70px 0px;
}

.about {
    width: 100vw;
    height: 854px;
    margin-top: 30px;
    background-color: #F2F5FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1-text {
    width: 40%;
}

.box2-img {
    width: 40%;
    position: relative;
}

#person-img {
    border-radius: 60px 10px 60px 10px;
     position: relative;
     z-index: 2;
}
#bg-circle{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-color: #09513B;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 35%;
    z-index: 1;
}
.about-text1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--darker-color);
    margin-bottom: 10px;
}

.about-text2 {
    font-size: 20px;
    color: #666666;
    line-height: 39px;
    margin-bottom: 20px;
}

.products {
    margin-bottom: 40px;
    margin-top: 20px;
}

.product-container div {
    width: 32%;
    text-align: center;
}

.product-container img {
    border-radius: 10px;
}

.product-container p {
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
    color: var(--darker-color);
}

.line {
    height: 1px;
    color: #D7D6D6;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle div {
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111111;
}

.work {
    height: auto !important;
}

.work-title {
    margin: 0% !important;
    font-weight: bold !important;
}

.work-subtitle {
    width: 100% !important;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    margin-top: 10px;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 250px;
    width: 100%;
    height: 360px;
    background-color: var(--lighting-color);
    padding-top: 40px;
}

.contact-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--darker-color);
    margin-bottom: 10px;
}

.contact-subtitle {
    text-align: center;
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
    line-height: 39px;
    width: 40%;
}

#contact-form {
    height: 71px;
    width: 40%;
    display: flex;
    background-color: #333333;
    border-radius: 3px;
    border: 1px solid black;
}

#input-box {
    width: 75%;
}

#email-input {
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

#contact-btn {
    width: 25%;
    display: grid;
    place-items: center;
    background-color: var(--dark-color);
    color: white;
}

footer {
    width: 100vw;
    height: 380px;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1 {
    width: 35%;
    height: auto;
}
#box2 {
    width: 55%;
    height: 300px;
}
#text1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

#text2 {
    font-size: 16px;
    line-height: 35px;
    color: white;
    margin-bottom: 20px;
}

#text3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
#text4 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
#footer-container{
    display: flex;
    gap: 10px;
}
#footer-container img{
border-radius: 2px;
}
/* mobile layout  */
@media screen and (max-width: 480px) {
    ul li{
        display: none;
    }
#menu-icon{
display: inline-block;
}
.nav-item-box.responsive {position: relative;}
  .nav-item-box.responsive ul {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    background-color: var(--lighting-color);
  }
  .nav-item-box.responsive ul li{
    display: block;
    margin: 20px;
    text-align: left;
  }
}